* {
    margin: 0;
}

@font-face {
    font-family: 'Krabby Patty';
    src: url(Krabby-Patty.ttf);
  }
body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    font-family: 'Krabby Patty';
    color: #d24141;
    height: 100vh;
}

h1 {
    font-size: 6rem;
}
.home-title {
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.home-title img {
    width: 100%;
}

.home-bg {
    background-image: url("/images/home-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.verticalLine {
    position: fixed;
    top: 0;
    left: 50%;
    bottom: 0;
    margin: 0;
    border: none; 
    border-right: solid 3px black; 
    z-index: 10;
}

.race-bg {
    background-image: url("/images/sand-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
} 

.road {
    width: 350px;
    height: 100vh; 
    background-color: rgb(27, 27, 27);
    margin: auto;
    position: relative; 
    border-left: 5px dashed white; 
    border-right: 5px dashed white; 
}


