* {
    margin: 0;
}

@font-face {
    font-family: 'Krabby Patty';
    src: url(Krabby-Patty.ttf);
  }
body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    font-family: 'Krabby Patty';
    color: #d24141;
    /* height: 100vh; */
}
/* HOME PAGE */
h1 {
    font-size: 6rem;
}
.home-title {
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.home-title img {
    width: 100%;
    transform: rotate(15deg)
}

.home-bg {
    background-image: url("/images/home-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* RACE PAGE */
.roads {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

/* .race-bg {
    background-image: url("/images/sand-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}  */

.player1,
.player2 {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.player1 {
    background-color: rgb(198, 55, 55);
}
.player2 {
    background-color: rgb(57, 109, 167);
}
.road {
    width: 350px;
    height: 90vh; 
    background-color: rgb(27, 27, 27);
    border-left: 5px dashed white; 
    border-right: 5px dashed white; 
}

.nav {
    display: flex;
    justify-content: center;
    padding: 40px;
}


