* {
    margin: 0;
}
body {
    display: flex; 
    flex-direction: column;
    
}
.verticalLine {
    position: fixed;
    top: 0;
    left: 50%;
    bottom: 0;
    margin: 0;
    border: none; 
    border-right: solid 3px black; 
    z-index: 10;
}
.container {
    display: flex;
}

.race-bg {
    background-image: url("/images/sand-bg.jpeg");
    background-size: cover;
} 

.road {
    width: 350px;
    height: 100vh; 
    background-color: rgb(27, 27, 27);
    margin: auto;
    position: relative; 
    border-left: 5px dashed white; 
    border-right: 5px dashed white; 
}


